body {
  background-color: #69ADAD;
  margin: 0px;
}

h1 {
  font: 70px "ff-tisa-sans-web-pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #E7ECE6;
  text-align: left;
}

h2 {
  font: 70px "ff-tisa-sans-web-pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #F69EA2;
}

h3 {
  font: 30px "ff-tisa-sans-web-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #3F4D40;
  text-align: left;
}

p {
  font: 20px "ff-tisa-sans-web-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #3F4D40;
  text-align: left;
}

.item1 {
  background:#69ADAD;
  padding-bottom: 2em;
  }
/* deleted item 2 */
.item3 {
    background: #69ADAD;
  }

  .container {
    font-size: 40px;
    min-height:200px;
    width: 100%;
    background: #69ADAD;
    grid-template-areas:
      "header header"
      "content content"
      "content content"
      "footer footer";
  }
/*responsive side bar*/

body {
  margin: 0;
  font: 70px "ff-tisa-sans-web-pro", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-width: 600px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
